/* ===== Register Page Styles ===== */
.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #b9bcbc, #ffffff);
  padding: 20px;
  margin-top: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  animation: fadeIn 0.6s ease-in-out;
}

.register-page span {
  color: #555;
}

/* Headings */
.register-page h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page h2 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form container */
.register-page form {
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

/* Inputs */
.register-page input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s ease;
}

.register-page input:focus {
  border-color:   #054384;
  outline: none;
  box-shadow: 0 0 5px rgba(38, 70, 146, 0.4);
}

/* Buttons */
.register-page button {
  background:  #054384;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}

.register-page button:hover {
  background:  #054384;
}

/* Links */
.register-page a {
  font-size: 14px;
  display: inline-block;
  margin-top: 18px;
  font-size: 14px;
  text-decoration: none;
  color:  #054384;
  transition: color 0.3s ease-in-out;
}

.register-page a:hover {
  text-decoration: underline;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.password-field input {
  flex: 1;
  padding-right: 40px; /* space for the icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: 1.1rem;
}


/* Responsive */
@media (max-width: 600px) {
  .register-page form {
    padding: 20px;
    width: 90%;
  }
}
